*
{
	margin: 10px 0px 0px 10px;
	box-sizing: border-box;
	font: 1.05em sans-serif;
	
	background-color: blanchedalmond;
}


.circulo
{
	background-image: url("media/foto_perfil.jpg");
	background-position: center;
	background-size: 150%;
	background-repeat: no-repeat;
	border: 2px solid black;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	float: left;
}

.biografia
{
	padding: 10px;
	width: 70%;
	float: left;
	border: 2px solid black;
}

.biografia, .biografia p
{
	background-color: lightgrey;
}


body navegador
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: purple;
}

/*:root
{
	--clr: #222327;
}*/

.navegador 
{
	position: relative;
	width: 400px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 40%;
	margin-right: 40%;
	/*margin-top: 20px;*/
	margin-bottom: 30px;
}
.navegador ul
{
	display: flex;
	width: 350px;
}

.navegador ul li{
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}

.navegador ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}

.navegador ul li a .icono{
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: purple;
}

.navegador ul li:hover a .icono{
	transform: translateY(-30px);
}

.navegador ul li a .texto{
	position: absolute;
	color: purple;	
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}

.navegador ul li:hover a .texto{
	opacity: 1;
	transform: translateY(10px);
}